In [1]:
import pandas as pd
import math
from sklearn.datasets import make_classification
from scipy.stats import f_oneway

In [148]:
k = 3
samples = 6
X, y = make_classification(
    n_samples = samples,       # row number
    n_features = 5,            # feature numbers
    n_informative = 3,         # The number of informative features
    n_redundant = 0,           # The number of redundant features
    n_repeated = 0,            # The number of duplicated features
    n_classes = k,             # The number of classes 
    n_clusters_per_class = 1,  # The number of clusters per class
    random_state = 42,         # random seed 
    scale=100                  # scale of the data
)

In [149]:
df = pd.concat([pd.DataFrame(X)[[0]], pd.DataFrame(y).astype(int)], axis=1)
df.columns = [0, 1]
df = df.sort_values(1).reset_index().iloc[:,1:]
df.to_csv("dataset.csv", header=False, index=False)

In [150]:
df

            0  1
0   21.863832  0
1 -100.908534  0
2 -134.667810  1
3   77.370042  1
4 -113.055230  2
5   58.212279  2

In [151]:
perms = 1
for each in df[1].value_counts():
    perms *= math.factorial(each)
perms = math.factorial(samples)/perms
perms

90.0

In [152]:
means = df.groupby(1).mean().reset_index().iloc[:,1:][0].tolist()

In [153]:
SSE = 0
for each in df.iterrows():
    group = int(each[1][1])
    feature = each[1][0]
    SSE += (feature - means[group])**2
SSE

np.float64(44682.8321110781)

In [154]:
f_oneway(df[df[1] == 0][0], df[df[1] == 1][0], df[df[1] == 2][0], equal_var=True)

F_onewayResult(statistic=np.float64(0.0059568744123499285), pvalue=np.float64(0.9940725594881851))

In [155]:
n_group = df[1].value_counts().tolist()

In [156]:
SSR = 0.0
for i, each in enumerate(means):
    SSR += n_group[i]*((each - float(df[0].mean()))**2)
SSR

177.4466795158724

In [157]:
MSW = SSR/(k-1)
MSW

88.7233397579362

In [158]:
MSB = SSE/(samples-3)
MSB

np.float64(14894.277370359368)

In [159]:
F = MSW/MSB
F

np.float64(0.005956874412349922)